.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #ffffff;
  position: fixed;
  height: 60px !important;
  overflow: hidden;
  box-shadow: #0003 0 2px 4px -1px, #00000024 0 3px 4px, #0000001f 0 1px 7px;
}
.header .logo {
  margin-left: 0;
  transition: margin-left 250ms ease-in-out;
}

@media screen and (max-width: 1023px) {
  .header .logo {
    margin-left: 60px;
  }
  #sidebarMenu {
    transform: translateX(-190px);
    z-index: 10;
    box-shadow: #0003 0 2px 4px -1px, #00000024 0 4px 5px, #0000001f 0 1px 10px;
  }
  .sidebarMenuInner {
    margin: 90px 0 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    z-index: 10;
  }
  #sidebarMenu {
    border-right: 1px solid #ddd;
    margin-top: 60px;
  }
  .sidebarMenuInner {
    margin: 30px 0 0 0;
  }
  .sidebarIconToggle {
    display: none;
  }
}
