<div id="center" class="main center">

    <div class="container">

        <!-- Début partie spécifique home page -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <a href="details.html">
                        <img src="https://image.tmdb.org/t/p/w780//1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" />
                        <p>Spider-Man: No Way Home</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <a href="details.html">
                        <img src="https://image.tmdb.org/t/p/w780//1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" />
                        <p>Spider-Man: No Way Home</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <a href="details.html">
                        <img src="https://image.tmdb.org/t/p/w780//1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" />
                        <p>Spider-Man: No Way Home</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <a href="details.html">
                        <img src="https://image.tmdb.org/t/p/w780//1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" />
                        <p>Spider-Man: No Way Home</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- Fin partie spécifique home page -->

    </div>
</div>