@media screen and (max-width: 567px) {
  .container {
    margin: 6em 0.5em;
  }
}
@media screen and (min-width: 568px) and (max-width: 1023px) {
  .container {
    margin: 6em auto;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    margin: 6em 0;
    margin-left: 200px;
    max-width: calc(100vw - 220px);
  }
}
@media screen and (min-width: 1280px) {
  .container {
    margin: 6em 16%;
    max-width: 1060px;
  }
}

.card {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: #0003 0 2px 4px -1px, #00000024 0 4px 5px, #0000001f 0 1px 10px;
  border-radius: 4px;
}

.card img,
.details-img {
  max-width: 100%;
  object-fit: contain;
}
.card img {
  margin-left: -1em;
}

.card a {
  text-decoration: none;
  text-align: center;
  padding: 1em;
}

.genres {
  padding-left: 0;
  display: flex;
}

.genres li {
  list-style-type: none;
  margin-right: 1em;
}
