
<div id="center" class="main center">

    <div class="container">

    <!-- Début partie spécifique home page -->
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <img class="details-img" src="https://image.tmdb.org/t/p/w780//1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" />
            </div>
            <div class="col-xs-12 col-sm-8">
                <h2>Spider-Man: No Way Home</h2>
                <h3>The Multiverse unleashed.</h3>
                <p class="meta-wrap">
                    <span class="rating">rating: 8.3</span>
                    <span class="meta">English / 148 min. / 2021</span>
                </p>

                <ul class="genres">
                    <li>Action</li>
                    <li>Adventure</li>
                    <li>Science-Fiction</li>
                </ul>
            </div>
            <!-- Fin partie spécifique home page -->

        </div>
    </div>
</div>
